.expense-item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    background-color: #4b4b4b;
}
.expense-item__description {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

.expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.8rem;
    border-radius: 12px;
    min-width: 60px;
}
