.expenses-list {
    list-style: none;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 2s all linear;
  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }